body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px;
}

header #branding {
    float: left;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #ffffff;
    font-weight: bold;
}

#home {
    min-height: 400px;
    background: url('path_to_background_image.jpg') no-repeat center center/cover;
    text-align: center;
    color: #ffffff;
}

#home h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#home p {
    font-size: 20px;
}

.profile-pic {
    width: 200px;
    border-radius: 50%;
    margin-top: 50px;
}

.education-item, .project-item {
    background: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
}

.skills-list {
    list-style-type: none;
    padding: 0;
}

.skills-list li {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #e8491d;
    color: #ffffff;
    border-radius: 5px;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #35424a;
    text-align: center;
}